<div class="row" style="width: 90vw">
  <div class="col-lg-12">
    <nb-card size="giant" style="overflow-y: scroll">
      <nb-tabset fullWidth (changeTab)="changeTab($event)">
        <nb-tab tabTitle="Basic" [lazyLoad]="true">
          <div class="container-fluid">
            <ngx-about [about]="user"></ngx-about>
          </div>
        </nb-tab>
        <nb-tab tabTitle="KYC" [lazyLoad]="true">
          <div class="container-fluid">
            <ngx-kyc [kyc]="user"> </ngx-kyc>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Bank" [lazyLoad]="true">
          <div class="container-fluid" id="bank">
            <ngx-bank [bank]="user"></ngx-bank>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Office" [lazyLoad]="true">
          <div class="container-fluid" id="office">
            <ngx-verify [office]="user"></ngx-verify>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Close" [lazyLoad]="true">
          <div class="container-fluid"></div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
