<nb-card>
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body>
    <input #identity nbInput placeholder="QR Code" required="required" fullWidth value="{{data.identity}}" readonly disabled><br><br>
    <input #contact nbInput placeholder="Merchant Id" required="required" fullWidth ><br><br>
    <input #businessName nbInput placeholder="Enter Business Name" required="required"><br>
    <small>Business name display on QR scan.</small>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(businessName.value, contact.value)" *ngIf="businessName.value.length>3">Submit</button>
  </nb-card-footer>
</nb-card>