<div class="row" *ngIf="!showForm">
  <div class="col-sm-6">
    Pan Number : {{ kyc.panNo }}<br />
    <span *ngIf="!kyc.isPanVerified" class="text-danger"
      >PAN Number Not Verified</span
    ><br />
    <img [src]="panimage" width="50%" height="50%" />
  </div>
  <div class="col-sm-6">
    Aadhar Number : {{ kyc.aadhaar }}<br />
    <span *ngIf="!kyc.isAadhaarnVerified" class="text-danger"
      >Aadhar Document Not Verified</span
    ><br />
    <img [src]="aadhaarimage" width="50%" height="50%" />
    <br />
  </div>
</div>

<button
  type="button"
  class="btn btn-primary fa-pull-right"
  (click)="edit()"
  *ngIf="!showForm && !kyc.isPanVerified && !kyc.isAadhaarnVerified"
>
  Edit
</button>
<div class="container-fluid" *ngIf="showForm">
  <nb-alert
    *ngIf="showMessages.error && errors?.length && !submitted"
    outline="danger"
    role="alert"
  >
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
  </nb-alert>

  <nb-alert
    *ngIf="showMessages.success && messages?.length && !submitted"
    outline="success"
    role="alert"
  >
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let message of messages" class="alert-message">
        {{ message }}
      </li>
    </ul>
  </nb-alert>
  <form
    (ngSubmit)="onFormSubmit()"
    #kycform="ngForm"
    aria-labelledby="title"
    class="form-horizontal row"
  >
    <div class="form-control-group col-sm-4">
      <label class="label" for="input-pannumber">Pan Number:</label>
      <input
        nbInput
        fullWidth
        [(ngModel)]="user.pannumber"
        #pannumber="ngModel"
        name="pannumber"
        id="input-pannumber"
        pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
        placeholder="Enter Pan Number"
        autofocus
        [status]="
          pannumber.dirty ? (pannumber.invalid ? 'danger' : 'success') : 'basic'
        "
        [required]="true"
        [attr.aria-invalid]="
          pannumber.invalid && pannumber.touched ? true : null
        "
      />
      <ng-container *ngIf="pannumber.invalid && pannumber.touched">
        <p class="caption status-danger" *ngIf="pannumber.errors?.required">
          Pan number required.
        </p>
        <p class="caption status-danger" *ngIf="pannumber.errors?.pattern">
          Pan Number must be start with 5 character followed by 4 number and at
          last 1 character.
        </p>
      </ng-container>
    </div>
    <div class="form-control-group col-sm-2">
      <label class="label">Pan Image : </label><br />
      <img
        [src]="panimage"
        width="50%"
        (click)="selectImageSource('panimage')"
      />
      <input
        type="file"
        nbInput
        #fileInputPan
        (change)="uploadFile($event, 'panimage')"
        hidden="true"
        [required]="true"
        accept="image/*"
      />
    </div>
    <div class="form-control-group col-sm-4">
      <label class="label" for="input-aadhaarnumber">Aadhaar Number:</label>
      <input
        nbInput
        fullWidth
        [(ngModel)]="user.aadhaarnumber"
        #aadhaarnumber="ngModel"
        name="aadhaarnumber"
        id="input-aadhaarnumber"
        pattern="[0-9]{12}"
        placeholder="Enter Aadhaar Number"
        autofocus
        [status]="
          aadhaarnumber.dirty
            ? aadhaarnumber.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [required]="true"
        [attr.aria-invalid]="
          aadhaarnumber.invalid && aadhaarnumber.touched ? true : null
        "
      />
      <ng-container *ngIf="aadhaarnumber.invalid && aadhaarnumber.touched">
        <p class="caption status-danger" *ngIf="aadhaarnumber.errors?.required">
          Aadhaar number required.
        </p>
        <p class="caption status-danger" *ngIf="aadhaarnumber.errors?.pattern">
          Aadhaar number should be 12 digit.
        </p>
      </ng-container>
    </div>
    <div class="form-control-group col-sm-2">
      <label class="label">Aadhaar Image: </label><br />
      <img
        [src]="aadhaarimage"
        width="50%"
        (click)="selectImageSource('aadhaarimage')"
      />
      <input
        nbInput
        type="file"
        #fileInputAadhaar
        (change)="uploadFile($event, 'aadhaarimage')"
        hidden="true"
        [required]="true"
        accept="image/*"
      />
    </div>
    <div class="container row">
      <div class="col-sm-4">
        <button
          type="button"
          class="btn btn-danger btn-block"
          (click)="reset()"
        >
          Reset
        </button>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button
          nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !kycform.valid"
          [class.btn-pulse]="submitted"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
