<table class="table table-striped">
  <thead>
    <tr>
      <th>Services</th>
      <th>Onboard</th>
      <th>Onboard Status</th>

      <th>Created At</th>
      <th>Updated At</th>
      <th>Check Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sl of serviceList; let i = index">
      <td>{{ sl.service }}</td>
      <td>
        <button
          nbButton
          status="success"
          (click)="doOnBoarding(i)"
          *ngIf="sl.onBoardRequired && sl.onBoardReferance == null"
        >
          On Board
        </button>
        <span *ngIf="sl.onBoardRequired && sl.onboarded">{{
          sl.onBoardReferance
        }}</span>
      </td>
      <td>
        {{
          sl.onBoardRequired == 1 && sl.onboarded == 0
            ? sl.onboardStatus
            : sl.remark
        }}
      </td>
      <td>
        {{ sl.created_at | date: "dd-MM-yyyy h:mm:ss a" }}
      </td>
      <td>
        {{ sl.updated_at | date: "dd-MM-yyyy h:mm:ss a" }}
      </td>
      <td>
        <button
          nbButton
          [nbSpinner]="loading"
          status="success"
          (click)="checkICICIKyc(sl.serviceId)"
          *ngIf="
            sl.onboarded == 1 &&
            sl.onBoardRequired == 1 &&
            sl.onboardStatus != 'active'
          "
        >
          Check
        </button>
      </td>
    </tr>
  </tbody>
</table>
