<div class="row">
  <div class="col-sm-4">
    <nb-card
      status="success"
      [nbSpinner]="loading"
      nbSpinnerMessage="{{ loadingMessage }}"
    >
      <nb-card-header>Total Balance</nb-card-header>
      <nb-card-body>
        <h2>
          ₹ {{ myBalance }}
          <nb-icon
            icon="refresh-outline"
            (click)="loadWalletBalance()"
          ></nb-icon>
        </h2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card
      status="success"
      [nbSpinner]="toDayBusinessloading"
      nbSpinnerMessage="{{ toDayBusinessloadingMessage }}"
    >
      <nb-card-header>Today Business</nb-card-header>
      <nb-card-body>
        <h2>
          ₹ {{ toDayBusiness }}
          <nb-icon
            icon="refresh-outline"
            (click)="loadTodayBusiness()"
          ></nb-icon>
        </h2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4"></div>
  
</div>
<div class="row">
  <div class="col-sm-4" *ngFor="let s of serviceWiseBusiness">
    <nb-card
      status="success"
      [nbSpinner]="isLoading"
      nbSpinnerMessage="{{ loadingMessage }}"
    >
      <nb-card-header>
        {{s.service}} 
        <span style="float: right">
        <nb-icon
            icon="refresh-outline"
            (click)="loadServiceWiseBusiness()"
            right
          ></nb-icon>
        </span>
        
      </nb-card-header>
      <nb-card-body>
        <h2>
          ₹ {{ s.amount }} {{s.wallet_operation}} / {{s.count}}
          
        </h2>
      </nb-card-body>
    </nb-card>
  </div>
</div>