<div class="row">
  <div class="col-sm-8">
    <nb-card
      status="success"
      [nbSpinner]="loading"
      nbSpinnerMessage="{{ loadingMessage }}"
    >
      <nb-card-body>
        <strong>CASHAND Digital Account</strong>
        <h2>
          ₹ {{ myBalance }}
          <nb-icon
            icon="refresh-outline"
            (click)="loadWalletBalance()"
          ></nb-icon>

          <nb-icon
            icon="more-horizontal-outline"
            nbTooltip="view more.."
            nbTooltipPlacement="right"
            [nbPopover]="formComponent"
            nbPopoverPlacement="bottom"
          ></nb-icon>
        </h2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card style="text-align: center" status="success">
      <nb-card-header>Transaction Summary</nb-card-header>
      <nb-card-body>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Service</th>
              <th>Count</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AEPS</td>
              <td>1</td>
              <td>500</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
