<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  outline="danger"
  role="alert"
>
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert
  *ngIf="showMessages.success && messages?.length && !submitted"
  outline="success"
  role="alert"
>
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">
      {{ message }}
    </li>
  </ul>
</nb-alert>
<form
  (ngSubmit)="onFormSubmit()"
  #aeps="ngForm"
  aria-labelledby="title"
  class="form-horizontal"
>
  <div class="form-control-group row">
    <div class="col-sm-4">
      <input
        nbInput
        fullWidth
        name="shopName"
        [(ngModel)]="aepsKyc.shopName"
        #shopName="ngModel"
        pattern="[A-Za-z ]{2,30}"
        [status]="
          shopName.dirty ? (shopName.invalid ? 'danger' : 'success') : 'basic'
        "
        [required]="true"
        [attr.aria-invalid]="shopName.invalid && shopName.touched ? true : null"
        placeholder="Shop Name"
      />
      <ng-container *ngIf="shopName.invalid && shopName.touched">
        <p class="caption status-danger" *ngIf="shopName.errors?.required">
          Shop Name is required!
        </p>
        <p class="caption status-danger" *ngIf="shopName.errors?.pattern">
          Shop Name should be character and minimum 3 letter!
        </p>
      </ng-container>
    </div>
    <div class="col-sm-4">
      <input
        nbInput
        fullWidth
        name="shopType"
        [(ngModel)]="aepsKyc.shopType"
        #shopType="ngModel"
        pattern="[A-Za-z ]{3,30}"
        [status]="
          shopType.dirty ? (shopType.invalid ? 'danger' : 'success') : 'basic'
        "
        [required]="true"
        [attr.aria-invalid]="shopType.invalid && shopType.touched ? true : null"
        placeholder="Shop Type"
      />
      <small>- Kirana Shop - Mobile Shop - Copier Shop - Internet cafe</small>
      <ng-container *ngIf="shopType.invalid && shopType.touched">
        <p class="caption status-danger" *ngIf="shopType.errors?.required">
          Shop Type is required!
        </p>
        <p class="caption status-danger" *ngIf="shopType.errors?.pattern">
          Shop Type should be character and minimum 3 letter!
        </p>
      </ng-container>
    </div>
    <div class="col-sm-4">
      <input
        nbInput
        fullWidth
        name="shopLocation"
        [(ngModel)]="aepsKyc.shopLocation"
        #shopLocation="ngModel"
        pattern="[A-Za-z ]{3,30}"
        [status]="
          shopLocation.dirty
            ? shopLocation.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [required]="true"
        [attr.aria-invalid]="
          shopLocation.invalid && shopLocation.touched ? true : null
        "
        placeholder="Shop Location"
      />
      <small>- Rural - Urban - Metro -Semi Urban</small>
      <ng-container *ngIf="shopLocation.invalid && shopLocation.touched">
        <p class="caption status-danger" *ngIf="shopLocation.errors?.required">
          Shop Location is required!
        </p>
        <p class="caption status-danger" *ngIf="shopLocation.errors?.pattern">
          Shop Location should be character and minimum 3 letter!
        </p>
      </ng-container>
    </div>
    <div class="col-sm-3">
      <nb-select
        placeholder="Select State"
        [(ngModel)]="aepsKyc.state"
        #state="ngModel"
        name="state"
        id="state"
        [status]="
          state.dirty ? (state.invalid ? 'danger' : 'success') : 'basic'
        "
        [attr.aria-invalid]="state.invalid && state.touched ? true : null"
        [required]="true"
        (selectedChange)="getDistrict($event)"
      >
        <nb-option value="{{ s.stateid }}" *ngFor="let s of states">{{
          s.statename
        }}</nb-option>
      </nb-select>
    </div>
    <div class="col-sm-3">
      <nb-select
        placeholder="Select District"
        [(ngModel)]="aepsKyc.district"
        #district="ngModel"
        name="district"
        id="district"
        [status]="
          district.dirty ? (district.invalid ? 'danger' : 'success') : 'basic'
        "
        [attr.aria-invalid]="district.invalid && district.touched ? true : null"
        [required]="true"
      >
        <nb-option value="{{ d.districtid }}" *ngFor="let d of districts">{{
          d.districtname
        }}</nb-option>
      </nb-select>
    </div>
    <div class="col-sm-3">
      <nb-select
        placeholder="Select Population"
        [(ngModel)]="aepsKyc.population"
        #population="ngModel"
        name="population"
        id="population"
        [status]="
          population.dirty
            ? population.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [attr.aria-invalid]="
          population.invalid && population.touched ? true : null
        "
        [required]="true"
      >
        <nb-option value="0 to 2000">0 to 2000</nb-option>
        <nb-option value="2000 to 5000">2000 to 5000</nb-option>
        <nb-option value="5000 to 10000">5000 to 10000</nb-option>
        <nb-option value="10000 to 50000">10000 to 50000</nb-option>
        <nb-option value="50000 to 100000">50000 to 100000</nb-option>
        <nb-option value="100000+">100000+</nb-option>
      </nb-select>
    </div>
    <div class="col-sm-3">
      <nb-select
        placeholder="Select Qualification"
        [(ngModel)]="aepsKyc.qualification"
        #qualification="ngModel"
        name="qualification"
        id="qualification"
        [status]="
          qualification.dirty
            ? qualification.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [attr.aria-invalid]="
          qualification.invalid && qualification.touched ? true : null
        "
        [required]="true"
      >
        <nb-option value="SSC">SSC</nb-option>
        <nb-option value="HSC">HSC</nb-option>
        <nb-option value="Diploma">Diploma</nb-option>
        <nb-option value="Graduate">Graduate</nb-option>
        <nb-option value="Post Graduate">Post Graduate</nb-option>
      </nb-select>
    </div>
    <div class="col-sm-6">
      AADHAAR CARD FULL PHOTO <br /><small>Photo size less than 200 kb</small
      ><br />
      <img
        [src]="aadhaarimage"
        width="50%"
        height="50%"
        (click)="selectImageSource('aadhaarimage')"
      />
      <input
        nbInput
        type="file"
        #fileInputAadhaar
        (change)="uploadFile($event, 'aadhaarimage')"
        hidden="true"
        [required]="true"
        accept="image/*"
      />
      <br />
    </div>
    <div class="col-sm-6">
      PAN CARD PHOTO <small><br />Photo size less than 200 kb</small><br />
      <img
        [src]="panimage"
        width="50%"
        height="50%"
        (click)="selectImageSource('panimage')"
      />
      <input
        type="file"
        nbInput
        #fileInputPan
        (change)="uploadFile($event, 'panimage')"
        hidden="true"
        [required]="true"
        accept="image/*"
      />
    </div>
    <span style="color: red" *ngIf="showErrors">{{ showMessage }}</span>
  </div>
  <button
    nbButton
    status="success"
    class="float-right"
    [disabled]="submitted || !aeps.valid"
    [class.btn-pulse]="submitted"
  >
    Save
  </button>
</form>
