<nb-card>
  <nb-card-header>Aeps Onboarding Form</nb-card-header>
  <nb-card-body *ngIf="!showOTPForm">
    <form
      aria-labelledby="title"
      [formGroup]="aepsNewOnboardingForm"
      (ngSubmit)="aepsNewOnboarding(aepsNewOnboardingForm.value)"
    >
      <div class="row">
        <div class="col-sm-3">
          <div class="form-control-group">
            <label class="label" for="shopName">Shope Name:</label>
            <input
              nbInput
              id="shopName"
              name="shopName"
              pattern="^[a-zA-Z_ ]*$"
              placeholder="Enter Shop Name"
              fullWidth
              [status]="
                f.shopName.dirty
                  ? f.shopName.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [required]="true"
              [attr.aria-invalid]="
                f.shopName.invalid && f.shopName.touched ? true : null
              "
              formControlName="shopName"
            />
            <ng-container *ngIf="f.shopName.invalid && f.shopName.touched">
              <p
                class="caption status-danger"
                *ngIf="f.shopName.errors?.required"
              >
                Shop Name required!
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.shopName.errors?.pattern"
              >
                Only letter allowed.
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-control-group">
            <label class="label" for="stateId">State:</label>
            <nb-select
              fullWidth
              [nbSpinner]="loading"
              placeholder="Select State From List.."
              name="stateId"
              id="stateId"
              formControlName="stateId"
              [status]="
                f.stateId.dirty
                  ? f.stateId.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="f.stateId && f.stateId.touched ? true : null"
              [required]="true"
              (selectedChange)="getDistrict($event)"
            >
              <nb-option *ngFor="let sl of stateList" value="{{ sl.key }}">{{
                sl.value
              }}</nb-option>
            </nb-select>
            <ng-container *ngIf="f.stateId.invalid && f.stateId.touched">
              <p
                class="caption status-danger"
                *ngIf="f.stateId.errors?.required"
              >
                Please select state from list.
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-control-group">
            <label class="label" for="districtIdId">District:</label>
            <nb-select
              fullWidth
              [nbSpinner]="loading"
              placeholder="Select Dsitrict From List.."
              name="districtId"
              id="districtId"
              formControlName="districtId"
              [status]="
                f.districtId.dirty
                  ? f.districtId.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                f.districtId && f.districtId.touched ? true : null
              "
              [required]="true"
            >
              <nb-option *ngFor="let dl of districtList" value="{{ dl.key }}">{{
                dl.value
              }}</nb-option>
            </nb-select>
            <ng-container *ngIf="f.districtId.invalid && f.districtId.touched">
              <p
                class="caption status-danger"
                *ngIf="f.districtId.errors?.required"
              >
                Please select District from list.
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <button
        nbButton
        class="btn btn-success"
        type="submit"
        style="float: right"
        [disabled]="submitted || aepsNewOnboardingForm.invalid"
        [class.btn-pulse]="submitted"
      >
        Submit
      </button>
    </form>
  </nb-card-body>
  <nb-card-body *ngIf="showOTPForm">
    <form
      aria-labelledby="title"
      [formGroup]="ekycOnboardingForm"
      (ngSubmit)="ekycSubmit(ekycOnboardingForm.value)"
    >
      <div class="row">
        <div class="col-sm-3 offset-4">
          <div class="form-control-group">
            <input
              nbInput
              id="otp"
              name="otp"
              pattern="[0-9]{6}"
              placeholder="Enter OTP"
              fullWidth
              [status]="
                ekyc.otp.dirty
                  ? ekyc.otp.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [required]="true"
              [attr.aria-invalid]="
                ekyc.otp.invalid && ekyc.otp.touched ? true : null
              "
              formControlName="otp"
            />
            <ng-container *ngIf="ekyc.otp.invalid && ekyc.otp.touched">
              <p
                class="caption status-danger"
                *ngIf="ekyc.otp.errors?.required"
              >
                OTP required!
              </p>
              <p class="caption status-danger" *ngIf="ekyc.otp.errors?.pattern">
                Only number allowed.
              </p>
            </ng-container>
            <span (click)="resendOTP(ekycOnboardingForm.value)" *ngIf="resend"
              >Click To Resend OTP </span
            ><label *ngIf="!resend">Resend after : {{ timer }}</label>
          </div>

          <div class="form-control-group">
            <nb-select
              fullWidth
              [nbSpinner]="loading"
              placeholder="Select Device From List.."
              name="deviceList"
              id="deviceList"
              formControlName="deviceList"
              [status]="
                ekyc.deviceList.dirty
                  ? ekyc.deviceList.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                ekyc.deviceList.invalid && ekyc.deviceList.touched ? true : null
              "
              [required]="true"
            >
              <nb-option *ngFor="let dl of deviceList" value="{{ dl.key }}">{{
                dl.value
              }}</nb-option>
            </nb-select>
            <ng-container
              *ngIf="ekyc.deviceList.invalid && ekyc.deviceList.touched"
            >
              <p
                class="caption status-danger"
                *ngIf="ekyc.deviceList.errors?.required"
              >
                Please select biometric device.
              </p>
            </ng-container>
            <ng-container *ngIf="ekyc.deviceList.errors?.invalidNumber">
              <p class="caption status-danger">
                Please select biometric device.
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <nb-card>
              <nb-card-body [nbSpinner]="fingureScanning">
                <div class="text-center" (click)="capture()">
                  <img
                    src="../../../../assets/images/fingerprint.png"
                    width="40%"
                    [style.opacity]="fingureOpacity"
                  />
                  <p>{{ scanMessage }}</p>
                </div>
                <nb-progress-bar
                  [value]="fingureScanStrength"
                  status="primary"
                  [displayValue]="true"
                ></nb-progress-bar>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
      <button
        nbButton
        class="btn btn-success"
        type="submit"
        style="float: right"
        [disabled]="submitted || ekycOnboardingForm.invalid"
        [class.btn-pulse]="submitted"
      >
        Submit
      </button>
    </form>
  </nb-card-body>
</nb-card>
